<!doctype html>
<head>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='jquery.form.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='jquery.tablesorter.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='joblistPage.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='common.css')}}"/>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='joblist.css')}}"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<title>SPP Log Analyzer</title>
<div id="jobListBody">
	<h1 class="log-style">ANALYZE LOGS</h1>
	<div id="logkeyholder" data-logkey="{{ logkey }}"></div>
	<div class="joblist-wrapper">
		<h2 id="sectionTitle" class="log-sytle">JOB LIST</h2>
		<h5 id="releaseInfo" class="log-style"></h5>
		<div class="job-list-table-wrapper">
			<div id="backToUpload" class="joblist-button">BACK</div>
		</div>
	</div>
</div>
