<!doctype html>
<head>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='jquery.form.min.js')}}"></script>
<script type=text/javascript src="{{url_for('static', filename='uploadPage.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='upload.css')}}"/>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
</head>
<title>SPP Log Analyzer</title>
<div id="uploadBody">
	<h1 class="log-style">SPP Log Analyzer</h1>
	<div class="upload-form-wrapper">
		<h2 class="log-style">Upload system log</h2>
		<form id="uploadForm" name="uploadForm" method="post" enctype="multipart/form-data">
			<input type="file" name="file" id="file" class="inputfile" />
			<label for="file"><span>Choose File</span></label>
			</br>
			<input class="inputfile" name="uploadbtn" type="submit" value="Upload">
			<label id="uploadSubmit" for="uploadbtn">Upload</label>
		</form>
		<div class="progress">
    			<div class="hiddenvis" id="percent">0%</div></br>
			<div class="hiddenvis" id="status">STATUS</div></br>
			<div class="hiddenvis" id="keyname">LOG KEY: </div>
		</div>
	</div>
	
	<div class="upload-form-wrapper">
		<h2 class="log-style">Analyze Log</h2>
		<input type="text" id="logkeyinput" placeholder="Enter log key.." /></br>
		<div class="logviewbutton">Analyze</div>
	</div>
</div>
